filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /usr/local/janusec/log/*.log
- type: filestream
  enabled: false
  paths:
    - /var/log/*.log
filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 1
setup.kibana:
output.elasticsearch:
  hosts: ["{{SRV_ELASTIC}}:9200"]
  username: "elastic"
  password: "changeme"
  index: "filebeat-%{[agent.version]}-%{+yyyy.MM.dd}"
setup.template.name: "filebeat"
setup.template.pattern: "filebeat-*"
processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
filebeat.autodiscover:
  providers:
  - type: docker
    templates:
    - condition:
      contains:
        docker.container.image: nginx
      config:
      - module: nginx
        access:
          input:
            type: docker
            containers.ids:
            - "${data.docker.container.id}"
      error:
        input:
          type: docker
          containers.ids:
          - "${data.docker.container.id}"
