metricbeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false
setup.template.settings:
  index.number_of_shards: 1
  index.codec: best_compression
setup.kibana:
  host: "{{SRV_KIBANA}}:5601"
output.elasticsearch:
  hosts: ["{{SRV_ELASTIC}}:9200"]
  username: "elastic"
  password: "changeme"
  index: "metricbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
setup.template.name: "metricbeat"
setup.template.pattern: "metricbeat-*"
processors:
  - add_host_metadata: ~
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
metricbeat.autodiscover:
  providers:
  - type: docker
    templates:
      - condition:
          contains:
            docker.container.image: nginx
        config:
          - module: nginx
            metricsets: ["stubstatus"]
            hosts: "${data.host}:${data.port}"
